.pad_the_top
.col-lg-4.col-md-4.col-sm-4.col-lg-offset-4.col-md-offset-4.col-sm-offset-4
  %h1 Login
  = form_tag sessions_path do
    = label_tag :email
    = text_field_tag :email, params[:email], class: 'form-control'
    %br
    = label_tag :password
    = password_field_tag :password, nil, class: 'form-control'
    %br
    = submit_tag "Login", class: 'form-control btn-primary'
    %br
    .centered
      = link_to "Sign up with Twitter", "/auth/twitter", class: "social"
      %br
      = link_to "Sign up with Facebook", "/auth/facebook", class: "social"