.container
  .row

    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1

      .show_letter_text
        %br
        .row
          .col-lg-8.col-md-8.col-sm-8
            Here is your letter. Click 'Edit' to change something or choose one of the options at the bottom of the page to send your love letter.
          .col-lg-4.col-md-4.col-sm-4
            = link_to "Edit", new_letter_path, class: "btn-primary btn edit_button_wide"
        
        %hr

        %b This letter is being sent to:
        = @letter_order.recipient_email

        %h1
          Dearest #{@letter_order.recipient_name},
        
        %p
          = simple_format(@letter.content)
        
        %p
          Love,
        %p 
          #{@letter_order.signature}

      %br
      .col-lg-4.col-md-4.col-sm-4
        = link_to "Send Email", deliver_as_email_letter_order_path(@letter_order), class: "btn-primary btn btn-block"
      .col-lg-4.col-md-4.col-sm-4
        = link_to "Send Snail Mail", new_letter_path, class: "btn-primary btn btn-block"
      .col-lg-4.col-md-4.col-sm-4
        = link_to "Send Postcard", new_letter_path, class: "btn-primary btn btn-block"