%h1.centered Send Your Letter

First choose how to send your love letter. You will have a chance to review your letter before sending.

%br
%br

.col-lg-4.col-md-4.col-sm-4
  = link_to "Send Email", root_path, class: "btn-primary btn btn-block send_email_button"
.col-lg-4.col-md-4.col-sm-4
  = link_to "Snail Mail", root_path, class: "btn-primary btn btn-block snail_mail_button"
.col-lg-4.col-md-4.col-sm-4
  = link_to "Postcards", root_path, class: "btn-primary btn btn-block disabled"

.col-lg-12.col-md-12.col-sm-12
  .email_letter_order.hidden_form
    = form_for LetterOrder.new do |f|
      %br
      %legend Letter Details
      = f.hidden_field :letter_id, value: letter.id
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :delivery_type, value: "email"
      
      = f.label :recipient_name
      = f.text_field :recipient_name, class: 'form-control'
      %br
      = f.label :recipient_email
      = f.text_field :recipient_email, class: 'form-control'
      %br
      = f.label :signature
      = f.text_field :signature, class: 'form-control'
      %br
      = f.label :short_customized_message
      = f.text_field :custom_message, class: 'form-control'
      %br
      / = f.label :type
      / = f.select :type, [ "email", "snail_mail", "postcoard" ], { :include_blank => false }, class: 'form-control'
      
      = f.submit "Submit", :class => 'btn btn-default btn-block letter_order_button'
      %br
.col-lg-12.col-md-12.col-sm-12
  .snail_mail_order_letter.hidden_form
    %br
    = form_for LetterOrder.new do |f|
      
      = f.hidden_field :letter_id, value: letter.id
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :delivery_type, value: "snail"

      %legend Letter Details

      = f.label :recipient_name
      = f.text_field :recipient_name, class: 'form-control'
      %br
      = f.label :signature
      = f.text_field :signature, class: 'form-control'
      %br
      = f.label :short_customized_message
      = f.text_field :custom_message, class: 'form-control'
      %br

      %legend Address Details

      .form-group
        = f.label :line_1, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :address_line_1, class: 'form-control', :placeholder => "Address Line 1"
          %br
      .form-group
        = f.label :line_2, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :address_line_2, class: 'form-control', :placeholder => "Address Line 2"
          %br
      .form-group
        = f.label :city, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :city, class: 'form-control', :placeholder => "City"
          %br
      .form-group
        = f.label :state, class: 'col-sm-2 control-label'
        .col-sm-4
          = f.text_field :state, class: 'form-control', :placeholder => "State"
          %br
        = f.label :zipcode, class: 'col-sm-2 control-label'
        .col-sm-4
          = f.text_field :zip_code, class: 'form-control', :placeholder => "Zipcode"
          %br
      = f.submit "Submit", :class => 'btn btn-default btn-block letter_order_button'





