%h2.centered.mash_title Letter Mash
= link_to "Back", new_letter_path, class: "btn-primary btn workspace_back floating_nav"
= link_to "Send", new_letter_path, class: "btn-primary btn send_letter_button top_right floating_nav"

.row
  .container
    .letter_nav
      = link_to "Choose Snippets", root_path, class: "btn-default btn snippet_view widen"
      = link_to "Arrange Letter", root_path, class: "btn-default btn letter_view widen"
      %br
      %br
    .col-lg-6.col-md-6.col-sm-6.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
      

      .letter_view_workspace
        Add some snippets and then sort them here.

      .snippet_view_workspace{ id: 'false', data: {"letter-id" => @current_letter.id } }
        - @authors.each do |author|
          .row.snippet_title
            .col-lg-1.col-md-1.col-sm-1
              = image_tag @images.sample, class: 'snippet_image'
            .col-lg-7.col-md-7.col-sm-7.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
              .author_name= "#{author.first_name} #{author.last_name}'s Snippets"
          
          .author_snippets{id: "author-id-#{author.id}"}
            - author.snippets.each do |snippet|
              .row
                .col-lg-1.col-md-1.col-sm-1.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
                  = check_box_tag snippet.id, snippet.id, false, data: { "snippet-id" => snippet.id }


                .col-lg-9.col-md-9.col-sm-9.snippet_content
                  = snippet.content 

                
          %br
          %br

= link_to "Review and Send Letter", root_path, class: "btn-primary btn btn-block send_snippet_letter_button col-lg-12 col-md-12"


.send_letter_modal.modal_custom
  = render "letters/send_letter_modal", letter: @current_letter


            
                  
                  

      

