.pad_the_top
%h2.centered.mash_title Letter Mash
= link_to "Back", new_letter_path, class: "btn-primary btn workspace_back floating_nav"


.row
  .container
    .letter_nav
      = link_to "Choose Snippets", root_path, class: "btn-default btn snippet_view widen btn-primary"
      = link_to "Arrange Letter", root_path, class: "btn-default btn letter_view widen btn-primary"
      %br
      %br
      

      .letter_view_workspace
        Add some snippets and then sort them here.

      .snippet_view_workspace{ id: 'false', data: {"letter-id" => @current_letter.id } }
        .col-lg-8.col-md-8.col-sm-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
          - @authors.each do |author|
            .row.snippet_title
              %table
                %thead
                  %th
                    %span.glyphicon.glyphicon-user.author_icon
                  %th 
                    %h3.inline_title.author_name= "#{author.first_name} #{author.last_name}'s Snippets"
              
            .row.author_snippets{id: "author-id-#{author.id}"}
              - author.snippets.each do |snippet|
                .holder
                  .col-lg-2.col-md-2.col-sm-2
                    .btn-group{"data-toggle" => "buttons"}
                      %label.btn.btn-primary.answer.snippet_button
                        = check_box_tag snippet.id, snippet.id, false, class: 'checkbox', data: { "snippet-id" => snippet.id }
                        Add

                  .col-lg-10.col-md-10.col-sm-10
                    %h4.snippet_margin= snippet.content  

                %br
                %br
                %br
            %br
            %br
            %br
          %br

.send_letter_modal.modal_custom
  = render "letters/send_letter_modal", letter: @current_letter



         
                

    

