!!!
%html
  %head
    %title LoveLetterMashup
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} LoveLetterMashup
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          / %ul.nav.navbar-nav
          /   %li.active
          /     %a{href: "#"} Link
          /   %li
          /     %a{href: "#"} Link
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/login"} Login
            %li
              %a{href: "/logout"} Logout
    = js extend_gritter :fade_in_speed => "fast", :fade_out_speed => 1000, :time => 1000, :position => :bottom_left
    
  
    = gflash
    

    = yield
